<h3>Novo usuário:</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/usuarios/new" method="POST">
            <label for="tipo">Tipo de usuário:</label>
            <select name="tipo" id="tipo" class="form-control">
                <option value="admin">Admin</option>
                <option value="user" selected>User</option>
            </select>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="senha" class="form-control">

            <label for="senha2">Repita a senha:</label>
            <input type="password" id="senha2" name="senha2" placeholder="Repita a senha" class="form-control">

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" placeholder="email@email.com" class="form-control">

            <label for="nome">Nome do usuário: </label>
            <input type="text" id="nome" name="nome" placeholder="Nome do usuário " class="form-control">

            <label for="sexo"> Sexo: </label>
            <select name="sexo" id="sexo" class="form-control">
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
            </select>
            <label for="rg">RG:</label>
            <input type="number" name="rg" id="rg" placeholder="RG" class="form-control">

            <label for="cpf">CPF:</label>
            <input type="number" id="cpf" name="cpf" placeholder="CPF" class="form-control">

            <label for="cep">CEP:</label>
            <input type="number" id="cep" name="cep" placeholder="cep" class="form-control">

            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" placeholder="Endereço" class="form-control">

            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" name="bairro" placeholder="Bairro" class="form-control">

            <label for="telefone">Telefone:</label>
            <input type="number" id="telefone" name="telefone" placeholder="(xx) xxxx-xxxx" class="form-control">

            <label for="celular">Celular:</label>
            <input type="number" id="celular" name="celular" placeholder="(xx) xxxxx-xxxx" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Salvar usuário</button>
        </form>
    </div>
</div>
