<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand h1 mb-0" href="/">
  <img src="/img/logo/logo.png" alt="...">
  </a>

    
  <a href="/usuarios/carrinho" class="btn btn-outline-light btn-sm align-middle ml-auto mr-3 order-lg-last" > <i class="fas fa-shopping-cart"> </i>  Carrinho <span class="badge badge-pill  badge-light">{{session.carrinho.totalQtd}}</span></a>

  <nav class="navbar navbar-dark bg-dark align-middle  ml-auto mr-3 order-lg-last">
      <form class="form-inline">
        <input class="form-control mr-sm-2" name ="busca" type="search" placeholder="Pesquisar ferramentas" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
  </nav>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
    {{#if user }}
      {{#ifvalue user.tipo equals="admin"}}
      <li class="nav-item active   dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fas fa-tools"></i> 
          Ferrramentas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/ferramentas"><i class="fas fa-list-alt"></i> Listar</a>
          <a class="dropdown-item" href="/admin/ferramentas/add"><i class="fas fa-plus-square"></i> Cadastrar</a>
          
        </div>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> 
          Usuários
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/usuarios"><i class="fas fa-list-alt"></i> Listar</a>
          <a class="dropdown-item" href="/admin/usuarios/add"><i class="fas fa-plus-square"></i> Cadastrar</a>
          
        </div>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-truck-moving"></i> 
          Aluguéis
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/aluguel"><i class="fas fa-list-alt"></i> Listar alugueis únicos</a>
          <a class="dropdown-item" href="/admin/aluguel/add"><i class="fas fa-plus-square"></i> Cadastrar aluguel único</a>
          <a class="dropdown-item" href="/admin/todospedidos"><i class="fas fa-list-alt"></i> Listar pedidos</a>
          
        </div>
      </li>
      
      {{/ifvalue}}
      {{/if}}
      {{#if user}}
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> 
          {{user.nome}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/usuarios/perfil"><i class="fas fa-user"></i> Meu perfil</a>
          <a class="dropdown-item" href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i> Sair</a>
          
        </div>
      </li>
      {{else}}
          <li class="nav-item active">
            <a class="nav-link" href="/usuarios/login"><i class="fas fa-sign-in-alt"></i> Login <span class="sr-only">(current)</span></a>
          <li class="nav-item dropdown">
            <li class="nav-item active">
              <a class="nav-link" href="/usuarios/registro"><i class="fas fa-user-plus"></i> Registro <span class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">

      {{/if}}
    
    </ul>
        
  </div>
</nav>