{{!-- <h4>Login: </h4>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="POST" class="form-login">
            <label for="email">E-mail: </label> 
                <input type="email" class="form-control" name="email" required>
            <label for="senha">Senha: </label> 
                <input type="password" class="form-control" name="senha" required>
                <button class="btn btn-success mt-4">Entrar</button>
        </form>
    </div>
</div>
<a href="/usuarios/registro"><h5 class="mt-2">Não possui uma conta? Clique aqui para criar uma...</h5></a>
 --}}

{{!-- <div class="card">    
    <div class="card-body">
<body class="text-center">
<form class="form-signin">
  <img class="mb-4" src="/img/logo/logo.png" alt="" >
  <h1 class="h3 mb-3 font-weight-normal">Login</h1>
  <label for="inputEmail" class="sr-only">Email </label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
  <label for="inputPassword" class="sr-only">Senha</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
  <div class="checkbox mb-3">
    
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
  <p class="mt-5 mb-3 text-muted">© 2020</p>
</form>
</body>
</div>    
</div> --}}


<div class="col d-flex justify-content-center text-center">
    <div class="card border-dark">  
        <div class="card-body">
            <form action="/usuarios/login" method="POST" class="form-signin mt-5 card-img-top">
                <img class="mb-4" src="/img/logo/logo.png" alt="" >
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <label for="inputEmail" class="sr-only">Email </label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" name="email">
                <label for="inputPassword" class="sr-only">Senha</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="" name="senha">
                <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Entrar</button>
                <h4 class="mt-4"><a href="/usuarios/registro" class="btn btn-outline-primary btn-block">Criar conta</a></h4>
                <p class="mt-2 mb-3 text-muted">© 2020</p>
            </form>
        </div>
    </div>
</div>    
