<h4>Perfil de {{user.nome}}.</h4>

<div class="card">
    <div class="card-body">
        <a href="/usuarios/meuperfil"><h5>Editar meu perfil</h5></a>
        <hr>
        <a href="/usuarios/meusalugueis"><h5>Meus aluguéis</h5> </a>
        <hr>
        <a href="/usuarios/meuspedidos"><h5>Meus pedidos</h5></a>
        <hr>
        <a href="/usuarios/minhasreservas"><h5>Minhas Reservas</h5></a>
    </div>
</div>