{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<div class="row justify-content-center  mt-5">
    <div class="card-body col-sm-12 col-md-10 col-lg-8">
        <form action="/usuarios/registro" method="POST">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label  for="nome">Nome do usuário: </label>
                    <input type="text" id="nome" name="nome" placeholder="Nome do usuário " class="form-control">       
                </div>
                <div class="form-group col-sm-6">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" placeholder="email@email.com" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label  for="rg">RG:</label>
                    <input type="number" name="rg" id="rg" placeholder="RG" class="form-control">   
                </div>
                <div class="form-group col-sm-6">
                    <label  for="cpf">CPF:</label>
                    <input type="number" id="cpf" name="cpf" placeholder="CPF" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label  for="sexo"> Sexo: </label>
                    <select name="sexo" id="sexo" class="form-control">
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label  for="endereco">Endereço:</label>
                    <input type="text" id="endereco" name="endereco" placeholder="Endereço" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                    <label  for="bairro">Bairro:</label>
                    <input type="text" id="bairro" name="bairro" placeholder="Bairro" class="form-control">
                </div>
                <div class="form-group col-sm-2">
                    <label  for="cep">CEP:</label>
                    <input type="number" id="cep" name="cep" placeholder="cep" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label  for="telefone">Telefone:</label>
                    <input type="number" id="telefone" name="telefone" placeholder="(xx) xxxx-xxxx" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                    
                    <label  for="celular">Celular:</label>
                    <input type="number" id="celular" name="celular" placeholder="(xx) xxxxx-xxxx" class="form-control">    
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label  for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" placeholder="senha" class="form-control ">
                    <small  class="form-text text-muted mb-2">
                    No mínimo 6 caracteres
                    </small>
                </div>
                <div class="form-group col-sm-6">
                    <label  for="senha2">Repita a senha:</label>
                    <input type="password" id="senha2" name="senha2" placeholder="Repita a senha" class="form-control ">
                    
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Criar conta</button>
                </div>
            </div>
        </form>
    </div>
</div>