    {{#each aluguel}}
<div class="row justify-content-center">
    <div class="card mt-2">
        <div class="card-body">
            <h6>Esta unidade de ferramenta estará disponivel a partir de: {{dateFormat dataDevolucao}}</h6>
            <div class="btn-group">
                <button class="btn btn-success mt-2">Reservar</button>
            </div>
        </div>
    </div>
</div>
    {{/each}}

